.header__row {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

body.lock {
  overflow: hidden;
}

.header {
  z-index: 100;
}

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 20;
  right: 20px;
  margin: 0 0 0 20px;
}

.header__burger span {
  position: absolute;
  background-color: #22ca22;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #22ca22;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active span {
  transform: scale(0);
  background-color: #22ca22;
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
  background-color: #22ca22;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
  background-color: #fff;
}

.header__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100%;
  overflow: auto;
  transition: all 0.3s ease 0s;
  background-color: #22ca22;
  padding: 70px 10px 20px 10px;
}

.header__menu.active {
  transition: all 0.3s ease 0s;
  right: 0;
  width: 300px;
}
.header__menu.active ul {
  margin: 0;
  flex-direction: column;
  align-items: center;
}
.header__menu.active ul li {
  margin: 15px 0;
}
.header__menu.active ul li a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.header__line {
  display: none;
}

.header__list {
  display: block;
  text-align: center;
}

.header__list li {
  margin: 0px 0px 20px 0px;
}
.header__list li:last-child a {
  margin: 0 25px;
}